<div class="posts-new-body">
  <%= form_with url: posts_path do |form| %>
    <img src="/azarashi.png" alt="azarashi" width="70px" height="70px">
    <li> 投稿内容 <%= form.text_field :content, :class=>'submit-name'%> </li>
    <li> 投稿者 <%= form.text_field :name, :class=>'submit-content'%> </li>
    <li> <%= form.submit '投稿', :class=>'submit-button'  %> </li>
  <% end %>
</div>
