//ヘッダー
header {
  display: inline-block;

  height: 64px;
  width: 100%;

  background-color: #418B89;

  a:link {color:white; text-decoration:none }
  a:visited { color:white; text-decoration:none }
  a:hover { color:white; text-decoration:none }
  a:active { color:white; text-decoration:none }
}

.header-list li{
  list-style: none;
  float: left;

  margin-left: 20px;
  font-size: 20px;
}

//メイン
.posts-index-body{
  background-color: #F0EFF0;
}

.posts-index-body li{
  height: 30px;
  list-style: none;
}

//投稿表示
.posts-index{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 95%;

  margin: 0 auto;

}

.posts-index-item{
  display: block;

  height: 200px;
  margin-bottom: 5px;

  background-color: #c3e6e4;
}

.user{
  display: block;
}

.posts-index-image{
  display: inline-block;
  width: 100px;
}

.posts-name{
  display: inline-block;
}

.posts-name li{
  font-size: 40px;
}

.posts{
}

.posts-content{
  display: inline-block;
  margin-top: 30px;
  margin-left: 100px;
}

.posts-content li{
  font-size: 40px;
}

.posts-reply{
  margin-left: 100px;
}

.posts-reply{
  a:link { color:black; text-decoration:none }
  a:visited { color:black; text-decoration:none }
  a:hover { color:black; text-decoration:none }
  a:active { color:black; text-decoration:none }
}

.posts-new-body{
  background-color: #F0EFF0;
}

.posts-new-body li{

  height: 50px;
  list-style: none;
}

.submit-name{
  height: 30px;
  width: 80%;
}

.submit-content{
  height: 30px;
  width: 80%;
}

.submit-button {
  display       : inline-block;
  border-radius : 100%;          /* 角丸       */
  font-size     : 17pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #418b89;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #418b89;    /* 枠の指定 */
  float         : right;
  margin-right  : 50px;
}
.submit-button:hover {
  color         : #418b89;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
