//ヘッダー
header {
  height: 64px;
  width: 100%;

  background-color: #418B89;
  a:link {color:white; text-decoration:none }
  a:visited { color:white; text-decoration:none }
  a:hover { color:white; text-decoration:none }
  a:active { color:white; text-decoration:none }

}

.header-list li{
  list-style: none;
  float: left;

  margin: 20px 10px;
}

//メイン
.main{
  background-color: #F0EFF0;
}

.main li{
  height: 30px;
  list-style: none;
}

//投稿表示
.posts-index{
  display: block;
  padding-top: 10px;

  width: 95%;

  margin: 0 auto;

}

.posts-index-item{
  height: 200px;

  margin-bottom: 5px;

  background-color: #c3e6e4;

}

.user{
  display: inline-block;
}

.posts-index-image{
  display: inline-block;
  float: left;
}

.posts-name{
  display: inline-block;
  float: left;
}

.posts-content{
}

.posts-reply{
  a:link { color:black; text-decoration:none }
  a:visited { color:black; text-decoration:none }
  a:hover { color:black; text-decoration:none }
  a:active { color:white; text-decoration:none }
}
